.container-card{
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.containerButon{
    text-align: center;
}

.containerButon button{
    padding:10px;
    margin:  30px 20px;
    border-radius:5px;
    text-shadow:2px 2px 4px #000000;
    font-family: 'Mochiy Pop P One', sans-serif;
    box-shadow:  2px 2px 4px #000000;
}

.containerButon button:hover{
    background-color: #000000;
    color: #FFFFFF;
}