body{
  padding:20px;
  margin:0;
  box-sizing: border-box;
  background-image: url(../src/styles/images/fondo.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
}